body{
	
font-family: "Times New Roman", "Times", "serif" fantasy;
	
color: #2f2323;
	background-color: #cef7f2;
	
text-shadow: 0px 0px #6495ed;
	text-align: left;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 0px 0px #6495ed;

}


td, th {
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #dddddd;

}
